@mixin button($buttonTextColor, $buttonBgColor, $fontFamily) {
    button {
        color: $buttonTextColor;
        background-color: $buttonBgColor;
        width: 140px;
        height: 47px;
        border: 0;
        border-radius: 3px;
        font-family: $fontFamily, sans-serif;
        font-weight: 600;
        font-size: 18px;
        margin-top: 40px;
    }

    button:hover {
        font-size: 20px;
        text-decoration: underline;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $bgColor;
}

.header {
    background: $backgroundImg center no-repeat;
    background-size: cover;
    height: 711px;
    border-radius: 0 0 40% / 40% 0;

    &_heading {
        font-family: map-get($fonts, headingFont), sans-serif;
        font-size: 72px;
        font-weight: bold;
        color: $headerTextColor;
        max-width: 511px;
        line-height: 1.0;
        position: relative;
        z-index: 1;
        margin-bottom: 35px;
        margin-top: 65px;
    }

    &_text {
        font-family: map-get($fonts, textFont), sans-serif;
        font-size: 16px;
        max-width: 680px;
        color: $headerTextColor;
        white-space: pre-line;
        line-height: 1.5;
        letter-spacing: 0.1px;
    }

    &-wrap {
        display: block;
        padding-left: 150px;
    }

    &_heading::after {
        display: block;
        content: '';
        width: 302px;
        height: 26px;
        background: $bgBehindText;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    @include button ($buttonTextColor, $buttonBgColor, map-get($fonts, headingFont));
}

.landing-logo {
    color: $headerTextColor;
    width: 150px;
    height: 50px;
    padding-top: 17px;

    & img {
        float: left;
        padding-top: 3px;
    }

    & p {
        font-family: map-get($fonts, textFont), sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin-left: 60px;
        margin-top: 0px;
    }

    & span {
        display: block;
        margin-top: -5px;
        margin-left: 5px;
        font-size: 10px;
    }
}

.section {
    padding: 0 153px;
    padding-bottom: 65px;
    text-align: center;

    &_text {
        display: inline-block;
        margin: 35px 0;
        text-align: center;
        font-family: map-get($fonts, headingFont), sans-serif;
        font-weight: 600;
        font-size: 42px;
        color: $headerTextColor;
        position: relative;
        z-index: 1;

    }

    &_text::after {
        display: block;
        content: '';
        width: 188px;
        height: 12px;
        background: $bgBehindText;
        position: absolute;
        bottom: 8px;
        left: 218px;
        z-index: -1;
    }

    &_card {
        background-color: $footerBgColor;
        border: 0;
        border-radius: 5px;
        text-align: center;
        width: 390px;
        height: 450px;

        &_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_img {
            border: 0;
            border-radius: 5px;
            width: 355px;
            margin-top: 20px;
        }

        &_heading {
            display: inline-block;
            position: relative;
            color: $cardHeadingColor;
            font-size: 24px;
            font-weight: 600;
            font-family: map-get($fonts, headingFont), sans-serif;
            margin-top: 8px;
            margin-bottom: 10px;
            z-index: 1;
        }

        &_underline {
            display: block;
            width: 100%;
            height: 14px;
            background: $bgBehindText;
            position: absolute;
            top: 17px;
            z-index: -1;
        }

        &_text {
            display: flex;
            align-items: center;
            color: $cardTextColor;
            font-size: 16px;
            font-family: map-get($fonts, textFont), sans-serif;
            padding: 0 20px;
            line-height: 1.5;
            margin-top: 5px;
            height: 120px;
        }
    }

    &_banner {
        position: relative;
        top: 139px;
        right: -132px;
        background: linear-gradient(45deg, $bannerLeftColor 0%, $bannerRightColor 100%);
        width: 947px;
        height: 143px;
        border: 0;
        border-radius: 6px;

        &_text_wrap {
            display: inline;
            padding-top: 38px;
            padding-right: 200px;
        }

        &_heading {
            color: $headerTextColor;
            font-family: map-get($fonts, headingFont), sans-serif;
            font-size: 31px;
            font-weight: 900;
            text-align: left;
            position: relative;
            top: -28px;
            right: -99px;
            letter-spacing: -0.5px;
            z-index: 1;
        }

        &_heading::after {
            display: block;
            content: '';
            width: 64px;
            height: 13px;
            background: $bgBehindText;
            position: absolute;
            bottom: 4px;
            left: 119px;
            z-index: -1;
        }

        &_text {
            font-family: map-get($fonts, textFont), sans-serif;
            position: relative;
            color: $cardTextColor;
            font-size: 14px;
            text-align: left;
            top: -40px;
            right: -100px;
            letter-spacing: 0.8px;
        }

        @include button ($buttonTextColor, $buttonBgColor, map-get($fonts, headingFont));

        &_button {
            position: relative;
            top: -150px;
            right: -203px;
        }
    }

}

.footer {
    padding: 0 150px;
    background-color: $footerBgColor;
    height: 240px;
    color: $cardTextColor;
    min-width: 1200px;
    margin: 0 auto;

    .landing-logo {
        color: $cardTextColor;
    }

    &-wrap {
        @extend .section_card_wrap;
        padding-top: 100px;
        font-family: map-get($fonts, textFont), sans-serif;
    }

    &_text {
        width: 295px;
        font-size: 14px;
        margin-right: 34px;
        margin-top: 24px;
        line-height: 1.5;
    }

    &_cr {
        margin-top: 20px;
    }
}