$bgColor:#21232e;
$headerTextColor:#ffffff;
$bgBehindText:#ff4e33;

$backgroundImg: url(../img/m-h-night.jpg);

$cardTextColor:#d1d1d1;
$cardHeadingColor:#fff;

$bannerLeftColor:#e2ab00;
$bannerRightColor:#912b53;
$bannerTextColor:#c0c3ce;

$buttonBgColor:#e3ac00;
$buttonTextColor:#f2f3f7;

$footerBgColor:#3b3f50;

$fonts:(headingFont: 'Source Sans Pro',
    textFont: 'Fresca');