$bgColor:#fff;
$headerTextColor:#2c2f3c;
$bgBehindText:#14a0c7;

$backgroundImg: url(../img/m-h-day.jpg);

$cardTextColor:#b6c3ce;
$cardHeadingColor:#fff;

$bannerLeftColor:#699902;
$bannerRightColor:#2c5ade;
$bannerTextColor:#c0c3ce;

$buttonBgColor:#699900;
$buttonTextColor:#f2f3f7;

$footerBgColor:#21232e;

$fonts:(headingFont: 'Source Sans Pro',
    textFont: 'Hind');